# Project exclude paths
/dongyimai_cart_interface/target/
/dongyimai_cart_service/target/
/dongyimai_cart_web/target/
/dongyimai_common/target/
/dongyimai_content_interface/target/
/dongyimai_content_service/target/
/dongyimai_dao/target/
/dongyimai_manager_web/target/
/dongyimai_order_interface/target/
/dongyimai_order_service/target/
/dongyimai_page_interface/target/
/dongyimai_page_service/target/
/dongyimai_page_web/target/
/dongyimai_pay_interface/target/
/dongyimai_pay_service/target/
/dongyimai_pojo/target/
/dongyimai_protal_web/target/
/dongyimai_search_interface/target/
/dongyimai_search_service/target/
/dongyimai_search_web/target/
/dongyimai_seckill_interface/target/
/dongyimai_seckill_service/target/
/dongyimai_seckill_web/target/
/dongyimai_sellergoods_interface/target/
/dongyimai_sellergoods_service/target/
/dongyimai_shop_web/target/
/dongyimai_sms_service/target/
/dongyimai_solr_utils/target/
/dongyimai_task_service/target/
/dongyimai_user_interface/target/
/dongyimai_user_service/target/
/dongyimai_user_web/target/