<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建连接工厂,由消息队列供应商提供-->
    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="activeMQConnectionFactory">
        <!--消息队列连接地址-->
        <property name="brokerURL" value="tcp://192.168.188.128:61616"/>
    </bean>
    <!--创建spring管理连接的连接工厂-->
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <!--声明消息队列模板对象-->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>
    <!--创建一个点对点模式的slor库审核消息队列-->
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="queueSolrDestination">
        <constructor-arg value="dongyimai_solr_queue"/>
    </bean>

    <!--创建一个点对点模式的solr删除消息队列对象-名字-->
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="queueSolrDeleteDestination">
        <constructor-arg value="dongyimai_delete_solr_queue"/>
    </bean>

   <!-- 创建一个订阅模式的创建商品详情页静态页面的消息队列-->
<bean class="org.apache.activemq.command.ActiveMQTopic" id="topicPageDestination">
    <constructor-arg value="dongyimai_page_topic"/>
</bean>
    <!--删除静态页面-->
    <bean class="org.apache.activemq.command.ActiveMQTopic" id="topicPageDeleteDestination">
        <constructor-arg value="dongyimai_page_delete_topic"/>
    </bean>
</beans>