<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--配置不进行安全拦截-->
    <security:http pattern="/favicon.ico" security="none"></security:http>
    <security:http pattern="/login.html" security="none"></security:http>
    <security:http pattern="/css/**" security="none"></security:http>
    <security:http pattern="/img/**" security="none"></security:http>
    <security:http pattern="/js/**" security="none"></security:http>
    <security:http pattern="/plugins/**" security="none"></security:http>

    <!--安全验证配置（需要用户进行登录）-->
    <security:http use-expressions="false">  <!--use-expressions是否使用spring表达式-->
        <!--权限资源-->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"></security:intercept-url>
        <!--通过form表单进行登录操作-->
        <!--login-page自定义登录页面-->
        <!--default-target-url自定义登录成功页面-->
        <!--authentication-failure-url自定义登录失败页面-->
        <security:form-login login-page="/login.html" default-target-url="/admin/index.html"
                             authentication-failure-url="/login.html" always-use-default-target="true"></security:form-login>
        <security:csrf disabled="true"></security:csrf>
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
        <!--退出登录-->
        <security:logout></security:logout>
    </security:http>

    <!--安全验证管理器配置-->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="123456" authorities="ROLE_ADMIN"></security:user>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>