<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建连接工厂,由消息队列供应商提供-->
    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="activeMQConnectionFactory">
        <!--消息队列连接地址-->
        <property name="brokerURL" value="tcp://192.168.188.128:61616"/>
    </bean>
    <!--创建spring管理连接的连接工厂-->
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <!--声明消息队列模板对象-->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>
    <!--创建一个点对点模式的发送验证码的消息队列-->
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="queueSmsDestination">
        <constructor-arg value="dongyimai_sms_queue"/>
    </bean>

</beans>