<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.offcn.page.service.impl"/>
    <!--创建连接工厂,由消息队列供应商提供-->
    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="activeMQConnectionFactory">
        <!--消息队列连接地址-->
        <property name="brokerURL" value="tcp://192.168.188.128:61616"/>
    </bean>
    <!--创建spring管理连接的连接工厂-->
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <!--声明消息队列模板对象-->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>
<!--声明商品详情页发布订阅模式的消息队列对象-->
    <bean class="org.apache.activemq.command.ActiveMQTopic" id="topicPageDestination">
        <constructor-arg value="dongyimai_page_topic"/>
    </bean>
    <!--监听器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="topicPageDestination"/>
        <property name="messageListener" ref="pageMessageListenerImpl"/>
    </bean>

    <bean class="org.apache.activemq.command.ActiveMQTopic" id="topicPageDeleteDestination">
        <constructor-arg value="dongyimai_page_delete_topic"/>
    </bean>
    <!--监听器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="topicPageDeleteDestination"/>
        <property name="messageListener" ref="pageMessageDeleteListenerImpl"/>
    </bean>

</beans>